<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link
    href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
 

  <style>
    * {
      margin: 0;
      font-family: 'Urbanist', sans-serif;
    }
  </style>
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>

<div class="container">
    <!---------- Meta HTML Ends --------->
<!---------- Top Header Starts --------->
<div class="width-100 top-header">
    <div class="container">
       <div class="width-100">
          <b class="news-list"> NEWS : </b>
          <marquee class="headquote">
             Applications for 2023-2024 ACADEMIC YEAR are open, Apply Now!
          </marquee>
       </div>
    </div>
 </div>
 <!---------- Logo And Main Menu HTML Starts --------->
<div class="width-100 header-menu">
    <div class="container">
       <div class="logo"> <img src="/static/images/download.png"> </div>
       <ul class="main-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Academics</a></li>
          <li><a href="#">Admission</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Notice Board</a></li>
          <li><a href="#">Contact Us</a></li>
       </ul>
    </div>
 </div>
 <!---------- Logo And Main Menu HTML Ends --------->
 <!---------- Slider HTML Starts --------->
   <div class="width-100 banner">
      <img class="slider-width slider" src="/static/images/coldd1.jpeg">
   </div>
    <!---------- Slider HTML Ends --------->

    <div class="width-100 margin-top-50">
        <div class="container boxess">
          <div class="width-33">
            <div class="latest-news">
              <div class="heading-sect">
                <h3 class="head-title">Latest New</h3>
              </div>
              <marquee direction="up">
              <ul class="latest-news-ul">
                <li> 31 mar 2023 B.tech merit list Part 01_16 feb 2022 <img src="images/latest-news-blink-img.gif"></li>
                <li> 31 mar 2023 M.tech merit list Part 02_16 feb 2022 <img src="images/latest-news-blink-img.gif"> </li>
                <li> 24 May 2023 Incubation Center <img src="images/latest-news-blink-img.gif"></li>
                <li> 31 mar 2023 Instituitional Distinctiveness <img src="images/latest-news-blink-img.gif"></li>
                <li> 31 mar 2023 Academic Calender Session 2019-20 <img src="images/latest-news-blink-img.gif"></li>
                <li> 16 feb 2023 Ph D merit list Part 01_16 feb 2022 <img src="images/latest-news-blink-img.gif"></li>
                <li> 16 feb 2023 Ph D merit list Part 02_16 feb 2022 <img src="images/latest-news-blink-img.gif"></li>
                <li> 17 Oct 2023 Consolidate academic Calender <img src="images/latest-news-blink-img.gif"></li>
              </ul>
              </marquee>
            </div>
          </div>
      
          <div class="width-33">
            <div class="event-list">
              <div class="heading-sect">
                <h3 class="head-title">Upcoming Events</h3>
              </div>
              <ul class="upcoming-event-list">
                <li><span class="event-date">29 <br>
                  April</span><span> Seminar is conducted on B.tech courses.</span> </li>
                <li><span class="event-date">30 <br>
                  April</span><span> Seminar is conducted on M.tech courses.</span> </li>
                <li><span class="event-date">2 <br>
                  Mar</span><span> Conducted its 2nd convocation ceremony.</span> </li>
                <li><span class="event-date">5 <br>
                  Mar</span><span> Annual Meeting for Batch of BBA ( 2018 to 2021 ) and seminar will be conducted for future growth and oppurtunity.</span> </li>
              </ul>
            </div>
          </div>
      
          <div class="width-33">
            <div class="notice-board">
              <div class="heading-sect">
                <h3 class="head-title">Notice Board</h3>
              </div>
              <ul class="notice-board-list">
                <li><img src="/static/images/notice-board-img.png">	Participation in Climate Correction Day (CCD) Challenge for Mission LiFE </li>
                <li><img src="/static/images/notice-board-img.png"> 	West Zone Inter University Table Teniss (man) Tournament 2022-23 </li>
                <li><img src="/static/images/notice-board-img.png"> 	PhD Registration Form for Selected Candidates </li>
                <li><img src="/static/images/notice-board-img.png"> 	List of Activities organised under TEQIP-III </li>
                <li><img src="/static/images/notice-board-img.png"> 	Documents for empanellment of vendor for A Class contyractor </li>
                <li><img src="/static/images/notice-board-img.png"> 	School of Architecture College Level counselling 2022-23  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!---------- Information HTML Starts --------->
<div class="width-100">
    <div class="container boxess">
       <div class="width-33">
          <div class="our-principal">
             <div class="heading-sect">
                <h3 class="head-title"> Useful Information</h3>
             </div>
             <ul class="useful-info-ul">
                <li><img src="/static/images/info-list-img1.png"> <a href="#">Online Service</a></li>
                <li><img src="/static/images/info-list-img2.png"> <a href="#">Online Results</a></li>
                <li><img src="/static/images/info-list-img3.png"> <a href="#">Exam Time Table</a></li>
                <li><img src="/static/images/info-list-img4.png"> <a href="#">Tenders</a></li>
             </ul>
          </div>
       </div>
       <div class="width-33">
          <div class="about-us">
             <div class="heading-sect">
                <h3 class="head-title"> Hon'ble </h3>
             </div>
             <div class="width-100 gove-sec-style">
                <div class="width-40">
                   <img class="governor-img" src="/static/images/chairman.jpg">
                </div>
                <div class="width-60">
                   <p class="governor-name">Lakshman Chandra Seth</p>
                   <p class="governor-designation">Chairman, My College</p>
                </div>
             </div>
             <div class="width-40">
                <img class="governor-img" src="/static/images/principle.jpg">
             </div>
             <div class="width-60">
                <p class="governor-name">Dr. Subrata Mondal.</p>
                <p class="governor-designation"></p>
                <p class="governor-designation">Principal</p>
             </div>
          </div>
       </div>
       <div class="width-33">
          <div class="certificate">
             <div class="heading-sect">
                <h3 class="head-title"> My College Certificate</h3>
             </div>
             <img src="/static/images/my-certificate.jpg"  class="width-100"> 
          </div>
       </div>
    </div>
 </div>
 <!---------- Information HTML Ends --------->

<!---------- Gallery HTML Starts --------->
<div class="width-100 margin-top-50">
    <div class="container boxess gall">
       <h3 class="gallery-head-style">Gallery </h3>
       <div class="width-25"><img src="/static/images/gallery-1.jpeg" class="gallery-img"></div>
       <div class="width-25"><img src="/static/images/gallery-2.jpeg" class="gallery-img"></div>
       <div class="width-25"><img src="/static/images/gallery-3.jpeg" class="gallery-img"></div>
       <div class="width-25"><img src="/static/images/gallery-4.jpeg" class="gallery-img"></div>
       <div class="width-25"><img src="/static/images/gallery-5.jpg" class="gallery-img"></div>
       <div class="width-25"><img src="/static/images/gallery-6.jpg" class="gallery-img"></div>
       <div class="width-25"><img src="/static/images/gallery-7.jpeg" class="gallery-img"></div>
       <div class="width-25"><img src="/static/images/gallery-8.jpg" class="gallery-img"></div>
    </div>
 </div>
 <!---------- Gallery HTML Ends --------->
 <!---------- Recruiter List HTML Starts --------->
<div class="width-100 margin-top-50">
    <div class="container">
       <h3 class="recruiter-head-style">Top Recruiters Company</h3>
       <marquee class="recruiter-marquee">
          <img src="/static/images/rec/recruiter-1.jpg">
          <img src="/static/images/rec/recruiter-2.jpg">
          <img src="/static/images/rec/recruiter-3.jpg">
          <img src="/static/images/rec/recruiter-4.jpg">
          <img src="/static/images/rec/recruiter-5.jpg">
          <img src="/static/images/rec/recruiter-6.jpg">
          <img src="/static/images/rec/recruiter-7.jpg">
          <img src="/static/images/rec/recruiter-8.jpg">
          <img src="/static/images/rec/recruiter-9.jpg">
          <img src="/static/images/rec/recruiter-10.jpg">
          <img src="/static/images/rec/recruiter-11.jpg">
          <img src="/static/images/rec/recruiter-12.jpg">
          <img src="/static/images/rec/recruiter-13.jpg">
          <img src="/static/images/rec/recruiter-14.jpg">
          <img src="/static/images/rec/recruiter-15.jpg">
          <img src="/static/images/rec/ recruiter-16.jpg">
          <img src="/static/images/rec/recruiter-17.jpg">
       </marquee>
    </div>
 </div>
 <!---------- Recruiter List HTML Ends --------->
 <!---------- Footer HTML Starts --------->
<div class="width-100 margin-top-50 footer">
   
    <div class="container boxess">
      <div class="two">
       <div class="width-25 one">
          <h2 class="quicklink-heading">Quick Links</h2>
          <ul class="quicklink-menu">
             <li><a href="#">Home</a></li>
             <li><a href="#">About us</a></li>
             <li><a href="#">Gallery</a></li>
             <li><a href="#">Contact Us</a></li>
          </ul>
       </div>
       <div class="width-25 one">
          <h2 class="quicklink-heading">Student Section</h2>
          <ul class="quicklink-menu">
             <li><a href="#">Result</a></li>
             <li><a href="#">Pay Fee</a></li>
             <li><a href="#">Training</a></li>
             <li><a href="#">Placements</a></li>
          </ul>
       </div>
      </div>
      <div class="two">
         <div class="width-25 one">
            <h2 class="quicklink-heading">Information Link</h2>
            <ul class="quicklink-menu">
               <li><a href="#">News</a></li>
               <li><a href="#">R&D Policy</a></li>
               <li><a href="#">Anti-Ragging</a></li>
               <li><a href="#">Admission</a></li>
            </ul>
         </div>
         <div class="width-25 one">
            <h2 class="quicklink-heading">GET IN TOUCH</h2>
            <ul class="get-in-touch">
               <li><i class="fa fa-envelope-o" aria-hidden="true"></i> E-MAIL:<a href="#" class="footer-e-mail"> info@hit.com</a></li>
               <li><i class="fa fa-headphones" aria-hidden="true"></i> WHATS-APP: +91 -123 456 789</li>
               <li><i class="fa fa-fax" aria-hidden="true"></i> CONTACT NO.: +91 -(123)-4567890</li>
               <li><i class="fa fa-globe" aria-hidden="true"></i> WEBSITE:<a href="#" class="footer-website"> https://hithaldia.ac.in/</a></li>
            </ul>
            <ul class="social-media one">
               <li><a href="#"><img src="/static/images/icon-facebook.png"></a></li>
               <li><a href="#"><img src="/static/images/icon-twitter.png"></a></li>
               <li><a href="#"><img src="/static/images/icon-linkedin.png"></a></li>
               <li><a href="#"><img src="/static/images/icon-instagram.png"></a></li>
            </ul>
         </div>
      </div>
    </div>
 </div>
 <!---------- Footer HTML Ends --------->
 <!---------- Footer Copyright HTML Starts --------->
<div class="width-100 footer2-bacbor">
    <p class="footer2-content">Copyright @ 2023, notmrabhi. All Rights Reserved</p>
</div>
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="../static/images/HIT (2).png" alt="image" style="width: 45px; height: 45px;">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">HIT Chat support</h4>
                    <p class="chatbox__description--header">Hi, My name is Pankaj. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="https://www.sofmen.com/wp-content/uploads/2018/11/chat-309417_1280-330x212.png" style="width: 60px;" /></button>
        </div>
    </div>
    </div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>